.device-manager-list {
  display: grid;
  grid-gap: 16px 24px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
}

.no-devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.no-devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  width: 100%;
  line-height: 20px;
  margin: auto;
  height: calc(100vh - 290px);

  &__icon {
    height: 192px;
    width: 280px;
    margin-bottom: 32px;
  }
}
