@import '../../../../../client/node_modules/@aitheon/core-client/styles/core/_variables';

.device-card {
  height: 192px;
  max-height: 192px;
  display: flex;
  box-shadow: 0 2px 8px 0 rgb(26, 26, 26);
  border: 1px solid rgb(43, 43, 43);
  background: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  position: relative;
  transition: all ease-in-out .2s;

  &:hover {
    border-color: #dcbc65;
    cursor: pointer;
  }

  &--active { border-color: #dcbc65 }

  &--surrounded {
    z-index: 10;
  }

  &__container {
    position: relative;
  }

  &__image {
    width: 190px;
    max-width: 190px;
    min-height: 190px;
    height: 100%;
    background-color: #1a1a1a;

    &--no-image {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='62px' height='57px' viewBox='0 0 62 57' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 9%3C/title%3E%3Cdefs%3E%3Cpath d='M26.8888889,5.11111111 L26.8888889,26.8888889 L5.11111111,26.8888889 L5.11111111,5.11111111 L26.8888889,5.11111111 L26.8888889,5.11111111 Z M26.8888889,2 L5.11111111,2 C3.4,2 2,3.4 2,5.11111111 L2,26.8888889 C2,28.6 3.4,30 5.11111111,30 L26.8888889,30 C28.6,30 30,28.6 30,26.8888889 L30,5.11111111 C30,3.4 28.6,2 26.8888889,2 Z M18.7740741,14.4444444 L23.7777778,23.7777778 L8.22222222,23.7777778 L12.1111111,16.7686987 L14.8851852,21.4716818 L18.7740741,14.4444444 Z M12.8888889,8.22222222 C14.6071081,8.22222222 16,9.61511411 16,11.3333333 C16,13.0515526 14.6071081,14.4444444 12.8888889,14.4444444 C11.1706697,14.4444444 9.77777778,13.0515526 9.77777778,11.3333333 C9.77777778,9.61511411 11.1706697,8.22222222 12.8888889,8.22222222 Z' id='path-1'%3E%3C/path%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-9' transform='translate(0.924000, 0.000000)'%3E%3Cg id='icon-/-16-cont-/-content-/-image-16' transform='translate(14.076000, 0.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask' fill='%237E7E7E' fill-rule='nonzero' xlink:href='%23path-1'%3E%3C/use%3E%3Cg id='Colors-/-Dark-Theme-/-Grayscale-/-Filled-/-$base-gray' mask='url(%23mask-2)' fill='%237E7E7E' fill-rule='evenodd'%3E%3Crect id='Dark-Theme-/-Grayscale-/-Filled-/-$base-gray' x='0' y='0' width='32' height='32'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3Cpath d='M1.988,54 L1.988,47.91 L6.44,54 L8.358,54 L8.358,44.662 L6.37,44.662 L6.37,50.528 L2.044,44.662 L-1.42108547e-14,44.662 L-1.42108547e-14,54 L1.988,54 Z M13.5,54.168 C14.5826667,54.168 15.4506667,53.8273333 16.104,53.146 C16.7573333,52.4553333 17.084,51.6106667 17.084,50.612 C17.084,49.6133333 16.7573333,48.7733333 16.104,48.092 C15.4506667,47.4106667 14.5826667,47.07 13.5,47.07 C12.4173333,47.07 11.5516667,47.4106667 10.903,48.092 C10.2543333,48.7733333 9.93,49.6133333 9.93,50.612 C9.93,51.6106667 10.2543333,52.453 10.903,53.139 C11.5516667,53.825 12.4173333,54.168 13.5,54.168 Z M13.5,52.586 C12.968,52.586 12.548,52.3993333 12.24,52.026 C11.932,51.6433333 11.778,51.172 11.778,50.612 C11.778,50.0613333 11.932,49.597 12.24,49.219 C12.548,48.841 12.968,48.652 13.5,48.652 C14.032,48.652 14.4543333,48.841 14.767,49.219 C15.0796667,49.597 15.236,50.0613333 15.236,50.612 C15.236,51.172 15.0796667,51.641 14.767,52.019 C14.4543333,52.397 14.032,52.586 13.5,52.586 Z M23.266,46.51 C23.5646667,46.51 23.8166667,46.405 24.022,46.195 C24.2273333,45.985 24.33,45.7353333 24.33,45.446 C24.33,45.1566667 24.2273333,44.9093333 24.022,44.704 C23.8166667,44.4986667 23.5646667,44.396 23.266,44.396 C22.9766667,44.396 22.727,44.4986667 22.517,44.704 C22.307,44.9093333 22.202,45.1566667 22.202,45.446 C22.202,45.7353333 22.307,45.985 22.517,46.195 C22.727,46.405 22.9766667,46.51 23.266,46.51 Z M24.162,54 L24.162,47.238 L22.384,47.238 L22.384,54 L24.162,54 Z M27.904,54 L27.904,49.45 C28.0533333,49.2353333 28.254,49.0486667 28.506,48.89 C28.758,48.7313333 29.024,48.652 29.304,48.652 C29.976,48.652 30.312,49.0113333 30.312,49.73 L30.312,49.73 L30.312,54 L32.104,54 L32.104,49.436 C32.2533333,49.2306667 32.4516667,49.0486667 32.699,48.89 C32.9463333,48.7313333 33.2146667,48.652 33.504,48.652 C34.176,48.652 34.512,49.0113333 34.512,49.73 L34.512,49.73 L34.512,54 L36.304,54 L36.304,49.114 C36.304,48.4326667 36.1313333,47.9216667 35.786,47.581 C35.4406667,47.2403333 34.9506667,47.07 34.316,47.07 C33.8306667,47.07 33.3756667,47.1913333 32.951,47.434 C32.5263333,47.6766667 32.2066667,47.966 31.992,48.302 C31.7213333,47.4806667 31.096,47.07 30.116,47.07 C29.6493333,47.07 29.206,47.1843333 28.786,47.413 C28.366,47.6416667 28.072,47.8773333 27.904,48.12 L27.904,48.12 L27.904,47.238 L26.126,47.238 L26.126,54 L27.904,54 Z M40.172,54.168 C41.1146667,54.168 41.8286667,53.8786667 42.314,53.3 L42.314,53.3 L42.314,54 L44.092,54 L44.092,49.632 C44.092,48.7266667 43.8166667,48.0733333 43.266,47.672 C42.7153333,47.2706667 42.006,47.07 41.138,47.07 C39.9713333,47.07 38.9866667,47.4246667 38.184,48.134 L38.184,48.134 L38.856,49.324 C39.4346667,48.792 40.0926667,48.526 40.83,48.526 C41.278,48.526 41.6373333,48.6286667 41.908,48.834 C42.1786667,49.0393333 42.314,49.3146667 42.314,49.66 L42.314,49.66 L42.314,50.57 C41.8473333,50.0193333 41.1333333,49.744 40.172,49.744 C39.5466667,49.744 38.9983333,49.926 38.527,50.29 C38.0556667,50.654 37.82,51.2 37.82,51.928 C37.82,52.628 38.0603333,53.1763333 38.541,53.573 C39.0216667,53.9696667 39.5653333,54.168 40.172,54.168 Z M40.886,52.964 C40.522,52.964 40.2186667,52.8753333 39.976,52.698 C39.7333333,52.5206667 39.612,52.278 39.612,51.97 C39.612,51.6526667 39.7333333,51.403 39.976,51.221 C40.2186667,51.039 40.522,50.948 40.886,50.948 C41.5486667,50.948 42.0246667,51.144 42.314,51.536 L42.314,51.536 L42.314,52.376 C42.0246667,52.768 41.5486667,52.964 40.886,52.964 Z M48.828,56.744 C49.2853334,56.744 49.7123334,56.695 50.109,56.597 C50.5056667,56.499 50.8906667,56.338 51.264,56.114 C51.6373334,55.89 51.9336667,55.5586667 52.153,55.12 C52.3723334,54.6813333 52.482,54.154 52.482,53.538 L52.482,53.538 L52.482,47.238 L50.69,47.238 L50.69,48.106 C50.1393334,47.4153333 49.444,47.07 48.604,47.07 C47.7266667,47.07 47.0103334,47.3733333 46.455,47.98 C45.8996667,48.5866667 45.622,49.4313333 45.622,50.514 C45.622,51.606 45.8996667,52.453 46.455,53.055 C47.0103334,53.657 47.7266667,53.958 48.604,53.958 C49.4346667,53.958 50.13,53.6033333 50.69,52.894 L50.69,52.894 L50.69,53.58 C50.69,54.1866667 50.5056667,54.623 50.137,54.889 C49.7683334,55.155 49.332,55.288 48.828,55.288 C47.9226667,55.288 47.218,55.008 46.714,54.448 L46.714,54.448 L45.916,55.736 C46.6906667,56.408 47.6613334,56.744 48.828,56.744 Z M49.164,52.376 C48.6506667,52.376 48.2376667,52.208 47.925,51.872 C47.6123334,51.536 47.456,51.0833333 47.456,50.514 C47.456,49.9446667 47.6123334,49.492 47.925,49.156 C48.2376667,48.82 48.6506667,48.652 49.164,48.652 C49.4626667,48.652 49.7543334,48.7243333 50.039,48.869 C50.3236667,49.0136667 50.5406667,49.198 50.69,49.422 L50.69,49.422 L50.69,51.606 C50.5406667,51.8206667 50.3213334,52.0026667 50.032,52.152 C49.7426667,52.3013333 49.4533334,52.376 49.164,52.376 Z M57.624,54.168 C58.8,54.168 59.7286667,53.8553333 60.41,53.23 L60.41,53.23 L59.626,52.082 C59.4206667,52.2873333 59.143,52.4506667 58.793,52.572 C58.443,52.6933333 58.1186667,52.754 57.82,52.754 C57.2693334,52.754 56.8213334,52.6046667 56.476,52.306 C56.1306667,52.0073333 55.93,51.634 55.874,51.186 L55.874,51.186 L60.9,51.186 L60.9,50.794 C60.9,49.6833333 60.5873334,48.785 59.962,48.099 C59.3366667,47.413 58.52,47.07 57.512,47.07 C56.4946667,47.07 55.657,47.4106667 54.999,48.092 C54.341,48.7733333 54.012,49.6133333 54.012,50.612 C54.012,51.676 54.3526667,52.5346667 55.034,53.188 C55.7153334,53.8413333 56.5786667,54.168 57.624,54.168 Z M59.178,49.982 L55.846,49.982 C55.8926667,49.59 56.056,49.2423333 56.336,48.939 C56.616,48.6356667 57.008,48.484 57.512,48.484 C58.044,48.484 58.4476667,48.638 58.723,48.946 C58.9983334,49.254 59.15,49.5993333 59.178,49.982 L59.178,49.982 Z' id='Noimage' fill='%237E7E7E' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    img {
      object-fit: contain;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }

  &__meta {
    padding: 16px 8px 16px 16px;
    max-width: 303px;
    margin-right: auto;

    span { display: block }

    &__name {
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 20px;
    }

    &__description {
      color: rgb(126, 126, 126);
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 20px;
    }

    &__text {
      color: rgb(126, 126, 126);
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.2px;
      line-height: 20px;
      min-width: 88px;
    }

    &__charge {
      &--red { color: $base-red }
      &--yellow { color: $base-yellow }
      &--green { color: $base-green }
    }

    &__controller-label {
      width: fit-content;
      padding: 2px 8px;
      margin: 8px 0;
      font-size: 12px;
      color: #fff;
      line-height: 16px;
      background: #7e7e7e;
      border-radius: 2px;
    }
  }

  &__info {
    padding: 16px 8px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    &__status {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      border: 1px solid;
      height: 24px;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 20px;
      padding: 0 12px;
      white-space: nowrap;
      position: absolute;
      top: 16px;
      right: 8px;

      &--aqua-blue {
        border-color: $aqua-blue;
        color: $aqua-blue;
      }

      &--base-blue {
        border-color: $base-blue;
        color: $base-blue;
      }

      &--base-yellow {
        border-color: $base-yellow;
        color: $base-yellow;
      }

      &--base-orange {
        border-color: $base-orange;
        color: $base-orange;
      }

      &--base-red {
        border-color: $base-red;
        color: $base-red;
      }

      &--base-green {
        border-color: $base-green;
        color: $base-green;
      }

      &--base-violet {
        border-color: $base-violet;
        color: $base-violet;
      }
    }
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.gray-label {
  color: rgb(126, 126, 126);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  min-width: 88px;
  display: block;
}

.task-info {
  position: absolute;
  background-color: #383838;
  border-radius: 2px;
  z-index: 1351;
  padding: 16px 24px;
  max-width: 412px;
  width: 412px;
  min-height: fit-content;
  box-shadow: 0 2px 6px 0 rgb(26, 26, 26);
  opacity: 0;
  transition: all linear .2s;

  &--top {
    opacity: 1;
    bottom: calc(100% - 126px);
    left: 300px;
  }

  &--bottom {
    opacity: 1;
    top: calc(100% - 42px);
    left: 300px;
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: #454545;
    padding: 0;
    box-shadow: none;
    margin: 16px 0;
  }

  .icon--close {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(#1f1f1f, .8);
  top: 0;
  left: 0;
  z-index: 9;
}

.floor-number {
  padding: 2px 8px;
  background: #454545;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 17px;
  margin-right: 8px;
}
