.ptp-title {
  margin-bottom: 8px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 28px;
  display: block;
}

.ptp-msg {
  color: rgb(126, 126, 126);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin: 0;
}
