
:host{
  width: 100%;
  height: 100%;
  display: block;
}

.upload-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 240px;

  &__file-input {
    width: 100%;
    height: 36px;
    margin-bottom: 1rem;
    padding: 4px 16px;
    border: 1px solid #454545;
    cursor: pointer;
    overflow: hidden;
    position: relative;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    button {
      font-size: 12px;
    }
  }
}


input[type="file"] {
  border: 0;
  overflow: hidden;
  padding: 0;
  width: 120%;
  height: 100%;
  position: absolute !important;
  white-space: nowrap;
  opacity: 0;
}
 
input[type="file"] + label {
  color: #fff;
  cursor: pointer;
  display: inline-block;
}