html {
  overflow-x: hidden;
  // margin-left: calc(100vw - 100%);
  // margin-right: 0;

  &::-webkit-scrollbar {
    width: 2px !important;
  }

  &::-webkit-scrollbar-thumb {
      width: 2px !important;
  }

  .container {
    max-width: 1224px !important;
  }

  .drive-uploader-results {
    z-index: 10000 !important;
  }
}

input:-webkit-autofill {
  border: 1px solid #1f1f1f;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #1a1a1a inset;
}

.scroll-none {
  overflow: hidden;
}

ai-widgets-dashboard gridster {
  background: transparent;

  gridster-item {
    background: transparent;
  }

  gridster-preview {
    background: transparent;
  }
}

.card {
  position: relative !important;
}

agm-map {
  width: 100% !important;
  height: 100% !important;
}

.gmnoprint a,
.gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

.gm-style-cc {
  display: none;
}

.dashboard-heading {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 1rem;
}

body.dark .dashboard-heading {
  color: #fff;
}

.row-active {
  border-radius: 2px;
  border: 0.9px solid rgb(220, 188, 101) !important;
}

.breadcrumbs {
  margin-bottom: .5rem;
  font-size: 12px;
  color: #7e7e7e;
}

.adsk-viewing-viewer {
  height: 528px !important;
}

.header--box-shadow-none {
  .navbar {
    box-shadow: none !important;
  }
}

// Filters Panel
.filter-search,
.filters {

  .dropdown .ng-dropdown-panel {
    padding-bottom: 0;
  }

  .dropdown .ng-option {
    padding: 10px 16px !important;
  }

  .dropdown .ng-optgroup {
    background-color: transparent !important;
    color: #7e7e7e;
    font-size: 0.75em;
  }

  .ng-dropdown-panel .ng-dropdown-footer {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    border-top: 1px solid #454545;
  }
}

.tooltip {
  width: fit-content !important;
  opacity: 100 !important;

  .tooltip-inner {
    width: fit-content !important;
    background: #383838;
    box-shadow: 0 2px 6px 2px #1a1a1a;
    margin: 0 auto;
    text-align: center;
    padding: 8px 12px;
  }

  .tooltip-arrow {
    display: none;
  }
}

.custom-tooltip {
  max-width: fit-content !important;

  .tooltip-inner {
    max-width: fit-content !important;
    white-space: nowrap;
  }
}

.ng-tooltip {
  position: absolute;
  min-width: 80px;
  max-width: 300px;
  font-size: 14px;
  text-align: center;
  color: #eee;
  padding: 3px 8px;
  background: #383838;
  border-radius: 2px;
  z-index: 4000;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 2px 10px 0 rgba(26, 26, 26, 1);
}

.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: #383838 transparent transparent transparent;
}

.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent #383838 transparent;
}

.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent #383838;
}

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent #383838 transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
}

// ai-tooltip styles

.text-danger {
  color: #e95858 !important;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(#1f1f1f, 0.9);
  z-index: 550;
}

// Charts
ngx-charts-line-chart,
ngx-charts-bar-vertical-2d,
ngx-combo-chart {

  .tick {
    fill: #7e7e7e !important;

    &:hover {
      fill: #7e7e7e !important;
    }
  }

  .ngx-charts .gridline-path {
    stroke: #454545 !important;
  }

  .chart-legend .legend-label {
    display: inline-block;
    width: 100px;
  }

  .chart-legend .legend-labels {
    background: none;
  }

  .chart-legend .legend-label-color  {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    color: #1a1a1a;
  }
}

.bs-datepicker {
  box-shadow: 0 0 10px 0 rgba(26, 26, 26, .7) !important;
}

.bs-datepicker-container {
  box-shadow: none !important;
}

.dark {
  .color-picker {
    background-color: #2b2b2b;
    border: none;

    input {
      border-radius: 2px;
      width: 100%;
      height: 100%;
      color: transparent;
      cursor: pointer;
      top: -1px;
    }

    .arrow.arrow-right {
      border-color: rgba(0, 0, 0, 0) #454545 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    }

    .cmyk-text .box,
    .hsla-text .box,
    .rgba-text .box,
    .hex-text .box {

      div {
        color: #7e7e7e;
      }

      input {
        background-color: #1f1f1f;
        color: #8c8c8c;
        border: #454545 solid 1px;
      }
    }
  }
}

// Charts
ngx-charts-line-chart,
ngx-charts-bar-vertical-2d,
ngx-combo-chart {

  .tick {
    fill: #7e7e7e !important;

    &:hover {
      fill: #7e7e7e !important;
    }
  }

  .ngx-charts .gridline-path {
    stroke: #454545 !important;
  }

  .chart-legend .legend-label {
    display: inline-block;
    width: 100px;
  }

  .chart-legend .legend-labels {
    background: none;
  }

  .chart-legend .legend-label-color  {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}


a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.dock-container {
  display: none !important;
}

button { white-space: nowrap }

// Google Map Markers
.gm-style .gm-style-iw-t::after {
  background: rgb(56, 56, 56) !important;
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3) !important;
}

.gm-style-iw.gm-style-iw-c {
  background: rgb(56, 56, 56);
  border-radius: 2px;
  height: auto !important;
  width: auto !important;
  min-width: 246px !important;
  min-height: 115px !important;
  padding: 16px;

  .gm-style-iw-d {
    overflow: visible !important;
    width: calc(100% - 16px);
  }

  button.gm-ui-hover-effect { display: none !important; }

  .infrastructure-marker-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__name {
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0.2px;
      line-height: 20px;
      width: 100%;
    }

    &__address {
      color: rgb(126, 126, 126);
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 20px;
      margin-bottom: 8px;
      width: 100%;
    }

    &__type {
      padding: 3px 12px;
      border-radius: 18px;
      border: 1px solid rgb(126, 126, 126);
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 20px;
    }
  }
}

.map-intersection-warning {
  position: absolute;
  display: block;
  background: crimson;
  width: 40px;
  height: 20px;
}

// Tabs
ul.nav.nav-tabs {
  background: transparent !important;

  &::before { width: calc(100% - 16px); }

  .nav-item.active { background: transparent !important }

  .nav-item { background: transparent !important }

  .link { background: transparent !important }

  .nav-link {
    background-color: transparent;
    padding: 0 32px 0 0;
  }

  .nav-link.active {
    background: transparent !important;
    color: #dcbc65;
  }

  .nav-link.disabled {
    &:hover {
      color: rgba(#7e7e7e, .4);
    }

    span:nth-child(2) {
      color: rgba(#7e7e7e, .4);
    }
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden !important;
}

.cursor-pointer {
  cursor: pointer !important;
}


.automate-modal {
  min-width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  transition: 0s !important;
}

.create-node-modal {
  width: 751px;
  max-width: 751px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  transition: 0s !important;
}

.add-application-modal {
  width: 560px;
  max-width: 560px;
  height: 668px;
  max-height: 668px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  transition: 0s !important;
}

.add-device-modal {
  width: 560px;
  max-width: 560px;
  height: 668px;
  max-height: 668px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  transition: 0s !important;
}

.custom-modal {
  max-width: 840px !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  transition: 0s !important;

  &--small {
      max-width: 560px;

      .modal-body {
          height: 642px !important;
      }
  }

  &--medium {
    max-width: 768px;

      .modal-body {
          height: 616px !important;
      }
  }

  .modal-body {
      height: 80vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
          background-color: transparent !important;
          width: 2px !important;
      }

      &::-webkit-scrollbar-thumb {
          background-color: #454545 !important;
          border-radius: 4px !important;
      }
  }
}

.modal-footer {
  padding: 12px 16px;
}

.custom-modal-size {
  max-width: 768px;
  margin: 2rem auto;
}

.currency-sign {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 20px;
  font-size: 14px;
  color: #fff;

  input {
      padding-right: 24px !important;
  }
}

.button--core-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
  background: linear-gradient(to right, #2a6ef9, #9044f2);

  // &--small {
  //   height: 26px !important;

  //   .button--core {
  //     width: 122px;
  //     height: 24px;
  //     background: #2b2b2b;
  //   }
  // }
}

.button--core {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 132px;
  color: #fff;
  background: #181818;
  border-radius: 1px;
  transition: .2s ease-in-out;

  &--big {
    width: 182px;
  }

  &:hover {
    background: rgba(#181818, 0.7);
    transition: .2s ease-in-out;
  }

  .service-icon {
    margin-right: 12px;
  }
}

gridster {
  background: #2b2b2b !important;
  padding: 0 24px !important;

  &.padding-x-16px {
    padding: 0 16px !important;
  }

  &.fixed {
    overflow-x: hidden !important;

  }
}

.ng-select.ng-select-disabled>.ng-select-container  {
  background-color: #1e1e1e;
}

.gauge-chart__wrap {
  .reading-block {
    font-size: 28px !important;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 30px;
    color: var(--white) !important;
  }
}

.switch {

  input:checked + .slider {
    background: rgba(#dcbc65, .7);
  }

  .slider::before {
    left: -1px !important;
    bottom: -2px !important;
  }
}


.icon {

  &--automate {

    &:before {
      width: 16px;
      height: 16px;
      content: '';
      background: url('~/assets/icons/automate.svg') center center no-repeat;
      background-size: contain;
    }
  }

  &--size-32px {
    width: 32px;
    height: 32px;
    max-height: 32px;
    font-size: 32px;
    line-height: 32px;
  }
}

.node-creation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 99999;

  &__header {
    height: 40px;
    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
    }

    .header-text {
      &--gold {
        color: #dcbd65;
      }

      &--bold-uppercase {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  &__image {
    width: 204px;
    height: 204px;
    background-image: url('~/assets/icons/cup-steam-animation.gif');
    background-size: cover;
    margin: 0 auto 24px;
  }

  &__status-complete {
    display: inline-block;
    width: 8px;
    height: 14px;
    top: 2px;
    position: absolute;
    left: -20px;
    border: solid #dcbc65;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);

    &--big {
      margin-top: 6px;
    }
  }

  &__status-list {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    margin-left: 120px;
  }

  &__status-item {
    color: #7e7e7e;
    position: relative;
    margin-bottom: 16px;

    .status-item {
      margin-bottom: 24px;

      &__text--completed {
        color: #DCBC65;
        opacity: 0.5;
      }

      &__text--big-gold {
        font-size: 24px;
        color: #dcbc65;
      }
    }
  }
}

.aitheon-drawer-closed--structure-positioning {
  bottom: 142px !important;
  transition: .2s ease-in-out;
}

.fix-customer-support-position {
  bottom: 240px !important;
  transition: .2s ease-in-out;
}

.input-wrap__counter {
  position: absolute;
  top: 50%;
  transform: translateY(-38%);
  right: 8px;
  color: #7e7e7e;
  font-size: 12px;
  line-height: 12px;
}

.textarea-wrap {
  position: relative;

  &__counter {
      position: absolute;
      bottom: 8px;
      right: 8px;
      color: #7e7e7e;
      font-size: 12px;
      line-height: 12px;
  }
}

.infrastructure-map__overflow-container, .areas__area-task-progress {
  circle.progress {
    stroke-width: 8px;
    transition: stroke-dashoffset 1s cubic-bezier(1, -0.02, 0.75, 1.15);
  }

  circle.progress-bg {
    opacity: .4;
    stroke-width: 8px;
  }
}

.infrastructure-form .dropdown.ng-select-multiple .ng-select-container {
  padding: 2px 16px !important;
}

.text-error {
  color: #e95858 !important;
}

.icon--disabled,
.input-wrap--disabled {
  pointer-events: none !important;
}

.map-background {
  position: absolute !important;
}

.hovered-text {
  position: fixed;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #fff;
  font-weight: bold !important;
  text-align: center;
  border-radius: 6px !important;
  line-height: 28px;
}

.arrow-rotation {
  height: 8px;
  width: 8px;
  min-height: 8px;
  min-width: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='26px' height='26px' viewBox='0 0 26 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 54.1 (76490) - https://sketchapp.com --%3E%3Ctitle%3EGroup 4%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Jobside---UI-Concepts---Place-mandatory' transform='translate(-750.000000, -384.000000)'%3E%3Cg id='Group-8' transform='translate(750.000000, 384.000000)'%3E%3Cg id='Group-4' transform='translate(13.000000, 13.000000) scale(-1, 1) translate(-13.000000, -13.000000) '%3E%3Cpath d='M5.77777778,2.88888889 L17.2973633,2.88888889 C21.1731952,3.25458442 23.1111111,5.61679416 23.1111111,9.97551812 C23.1111111,14.3342421 23.1111111,17.7498101 23.1111111,20.2222222' id='Path-22' stroke='%23DCBC65' stroke-linecap='round'%3E%3C/path%3E%3Cpolygon id='Triangle' fill='%23DCBC65' transform='translate(23.111111, 23.111111) scale(1, -1) translate(-23.111111, -23.111111) ' points='23.1111111 20.2222222 26 26 20.2222222 26'%3E%3C/polygon%3E%3Cpolygon id='Triangle' fill='%23DCBC65' transform='translate(2.888889, 2.888889) scale(-1, 1) rotate(90.000000) translate(-2.888889, -2.888889) ' points='2.88888889 -2.22044605e-15 5.77777778 5.77777778 2.22044605e-15 5.77777778'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  display: none;

  &--nw {
    
  }

  &--ne {
    
    transform: rotate(90deg);
  }

  &--sw {

    transform: rotate(-90deg);
  }

  &--se {
    transform: rotate(180deg);
  }
}